---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Blogs - Muhammad Zainul Hakim";
const allPosts = await Astro.glob("../pages/posts/*.md");
const sortedPosts = allPosts.sort((a, b) =>
  b.frontmatter.pubDate.localeCompare(a.frontmatter.pubDate)
);
---

<BaseLayout pageTitle={`${pageTitle} -  Muhammad Zainul Hakim`}>
  <section class="mx-auto max-w-3xl px-3 py-4">
    <div class="flex items-center justify-between">
      <h1 class="mt-6 mb-4 text-xl font-medium">Blog Posts</h1>
    </div>
    <ul class="divide-y divide-gray-200 overflow-hidden dark:divide-gray-800">
      {
        sortedPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            pubDate={post.frontmatter.pubDate}
            description={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>
